---
- name: Deploy to Production
  hosts: all
  gather_facts: no
  force_handlers: true
  tasks:
    - name: Deploy App to Production
      include_role:
        name: deployer
      loop: "{{ query('inventory_hostnames', 'production', wantlist=True)}}"
      loop_control:
        loop_var: production_server